[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:20Finger-Squared/Neovim-Config.git
[submodule ".config/sway"]
	path = .config/sway
	url = git@github.com:20Finger-Squared/sway.git
[submodule ".config/eww"]
	path = .config/eww
	url = git@github.com:20Finger-Squared/eww.git
